<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Pong_PowerCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Pong_PowerCore.Properties.Settings>
            <setting name="AIdifficulty" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AllowedAiDifference" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="AllowedPPCSpeed" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="CircleWidth" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="CircleHeight" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="UserHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="UserWidth" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="DrunkBall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="colorR" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="colorG" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="colorB" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="RainbowMode" serializeAs="String">
                <value>False</value>
            </setting>
        </Pong_PowerCore.Properties.Settings>
    </userSettings>
</configuration>
