@model ParelloZmorge.Models.IndexViewModel
@{
    ViewBag.Title = "Verwalten";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Kontoeinstellungen ändern</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Kennwort:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Kennwort ändern", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Erstellen", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
